@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background: #222;
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #3c3f51;
}

.sections {
  background-image: url("../public/images/Vectorbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.containers {
  color: aliceblue;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 16px;
}

.scrollModal {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  
  background-image: url("../public/images/Vectorbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.scrollModal::-webkit-scrollbar {
  display: none;
}

.textLogo {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 26px;
  letter-spacing: -5px;
  word-spacing: -3.4px;
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
}

.menuResponsive {
  background-image: url("../public/images/Vectorbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

/* App Slider */

.section {
  height: 100vh;
  margin-top: 40px;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperIntroduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #222;
  gap: 10px;
  font-weight: bold;
}

.wrapperIntroduce > img {
  border-radius: 50%;
}

.textRole {
  color: #888888;
}

.boxSlide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wrapperElements {
  position: relative;
  width: 100%;
  display: flex;
}

.wrapperSlide {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.wrapperSlide::-webkit-scrollbar {
  display: none;
}

.wrapperSlideImage {
  min-width: 400px;
  height: 100%;
  margin: 1px 10px;
  border: 1px solid white;
  overflow: hidden;
  border-radius: 25px;
}

.wrapper::before {
  position: absolute;
  content: "";
  left: 90px;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100px;
  background-image: linear-gradient(90deg, black, transparent);
}

.wrapper::after {
  position: absolute;
  content: "";
  right: 90px;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 100px;
  background-image: linear-gradient(-90deg, black, transparent);
}

.icon {
  color: #35DDE5;
  font-size: 50px;
  outline: none;
  display: flex;
  align-items: center;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
}

.wrapperDot {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dots {
  cursor: pointer;
  justify-content: center;
  color: #222;
  z-index: 99;
}

.dots:hover {
  color: red;
}

.active:active {
  color: blue;
}

/* Slider Image */

.childSlide > img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
