@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #222;
  width: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #3c3f51;
}

.sections {
  background-image: url("../public/images/rm378-02c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 16px;
}

.containers {
  color: aliceblue;
  max-width: 1224px;
  margin: 0 auto;
  padding: 2rem 16px;
}
